<form method="POST">
    <div class="form-group mb-2">
        <label for="email">Nazwa firmy</label>
        <input type="email" id="email" name="email" placeholder="nazwa@domena.xx" class="form-control
            <% if (errors?.email) { %>
                is-invalid
            <% } %>"
            <% if (form) {%>
                value="<%= form.email%>"
            <% } %>
        required>
        <% if (errors?.email) { %>
            <div class='invalid-feedback'><%= errors.email.message %></div>
        <% } %>
    </div>
        <div class="form-group mb-3">
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" placeholder="Hasło" class="form-control
            <% if (errors?.password) { %>
                is-invalid
            <% } %>"
            <% if (form) {%>
                value="<%= form.password%>"
            <% } %>
        required>
        <% if (errors?.password) { %>
            <div class='invalid-feedback'><%= errors.password.message %></div>
        <% } %>
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj</button>
</form>